@model FruitSA_Models.Category

<form method="post" asp-action="Edit" id="editCategoryForm">
    <input type="hidden" asp-for="CategoryId" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="CategoryName"></label>
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CategoryCode"></label>
            <input asp-for="CategoryCode" class="form-control" id="categoryCodeInput" />
            <span asp-validation-for="CategoryCode" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>

        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('editCategoryForm').addEventListener('submit', function () {
                var categoryCodeInput = document.getElementById('categoryCodeInput');
                categoryCodeInput.value = categoryCodeInput.value.toUpperCase();
            });
        });
    </script>
}
